.titulo {
font-size: 22px;
text-decoration: underline;
text-align: center;
}

.boton {
border-radius: 4px;
font-size: 14px;
font-weight: bold;
color: white;
background-color: black;
}

.tarjetas:hover{
    box-shadow: 0rem 0rem 10px 8px rgb(58 59 69 / 25%);
 }

